.header {
  background-color: #000;
  color: #fff;
  padding: 50px 0;
}

.list-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.list-navbar li {
  margin: 10px 20px;
}
